<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DigitalDay-cal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DigitalDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68C777391D775C3800FB32EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C777521D775C3800FB32EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C7775D1D775C3800FB32EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ac6d4d0fc5556d8d48c4a69b</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
